@media screen and (min-width: 320px) and (max-width: 400px)
    .nav 
        height 70px
        .nav__logo
            display none
        .nav__list
            margin 30px 10px
            .nav__list__item
                padding-right 10px
                a
                    font-size 0.9em
                    padding 0
        .line 
            display none
        .nav__info
            display none
            
@media screen and (min-width: 401px) and (max-width: 980px)
    .nav 
        height 70px
        .nav__logo
            display none
        .nav__list
            margin 30px auto
            .nav__list__item
                padding-right 20px
                a
                    font-size 1em
                    padding 0
        .line, .nav__info
            display none
  
@media screen and (min-width: 981px) and (max-width: 1100px)
    .nav 
        .nav__logo
            margin 60px 0 0 20px
        .nav__list
            margin 70px 30px 0 40px
            .nav__list__item
                padding-right 5px
                a
                    font-size 1em
                    padding 5px
        .nav__info
            margin 40px 10px 0 20px
            .nav__info__text
                font-size 0.7em
            .nav__info__contacts
                p
                    font-size 1em
  
                    
@media screen and (min-width: 1101px) and (max-width: 1280px)
    .nav 
        .nav__logo
            margin 60px 0 0 20px
        .nav__list
            margin 70px 30px 0 40px
            .nav__list__item
                padding-right 10px
                a
                    font-size 1em
        .nav__info
            .nav__info__contacts
                p
                    font-size 1.2em
          
@media screen and (min-width: 320px) and (max-width: 400px)
    .header
        height 600px
        .header__leading 
            padding-top 150px
            font 2.5em font-header
        .header__text
            font 1.5em font-stuck
        img
            display none
        .header__input
            box-sizing border-box
            max-width 320px
            padding 10px
            input
                font 0.9em font-stuck
                flex 1.5
                &[placeholder]
                    padding-left 5px
            select
                padding 0
                font 0.6em font-stuck
            button
                flex 1
                font 0.8em font-stuck
                
@media screen and (min-width: 401px) and (max-width: 768px)
    .header__leading
        padding-top 80px
        font-size 2.8em 
     img
        display none

@media screen and (min-width: 320px) and (max-width: 400px)
    .about
        height 1000px
        .about__webhost
            width 100%
            float none
            height 500px
            .a-webhost__content
                margin 0
                img
                    margin-top 70px
                    margin-bottom 30px
                    height 100px
                .about__webhost__heading
                    font-size 1.7em
        .about__domain
            width 100%
            float none
            height 500px
            .a-domain__content
                margin 0
                img
                    margin-top 100px
                    margin-bottom 30px
                    width 200px
                .about__domain__heading
                    font-size 1.7em
                    
@media screen and (min-width: 401px) and (max-width: 768px)
    .about
        height 800px
        .about__webhost
            width 100%
            float none
            height 400px
            .a-webhost__content
                margin 0 auto
                padding-top 100px
                img
                    margin-top 70px
                    margin-bottom 30px
                    height 100px
                .about__webhost__heading
                    font-size 1.7em
        .about__domain
            width 100%
            float none
            height 400px
            .a-domain__content
                margin 0 auto
                padding-top 100px
                img
                    margin-top 100px
                    margin-bottom 30px
                    width 200px
                .about__domain__heading
                    font-size 1.7em               
 
@media screen and (min-width: 320px) and (max-width: 400px)  
    .features
        height 900px
        .features__heading 
            font-size 2.5em
        .features__text
            font-size 1.5em
            margin-bottom 50px
        .features__list
            flex-direction column
            .features__list__item
                width 100%
                flex-basis 150px
                img, .sep
                    display none
                
@media screen and (min-width: 401px) and (max-width: 767px)  
    .features
        height 900px
        .features__heading 
            font-size 2.5em
        .features__text
            font-size 1.5em
            margin-bottom 50px
        .features__list
            flex-direction column
            .features__list__item
                width 100%
                flex-basis 150px
                .sep
                    display none
        
                
                
@media screen and (min-width: 320px) and (max-width: 765px)
    .clients
        display none
        
@media screen and (min-width: 766px) and (max-width: 1000px)
    .clients
        height 300px
        .clients__content
            float none
            width 100%
            text-align center
            .c-content__heading
                margin 80px 0 20px 0
                text-align center
            .c-content__text
                max-width 90%
                margin 0 auto
        .clients__logos
            float none
            margin 30px auto 0 auto
            width 90%

                       
@media screen and (min-width: 1001px) and (max-width: 1315px)
    .clients
        height 300px
        .clients__content
            float none
            width 100%
            text-align center
            .c-content__heading
                margin 80px 0 20px 0
            .c-content__text
                max-width 90%
        .clients__logos
            float none
            margin 30px auto 0 auto       
            width 800px
            display block
            
            
@media screen and (min-width: 320px) and (max-width: 400px)
    .reviews
        height 800px
        .reviews__list
            flex-direction column
            margin 0
            .reviews__list__item
                flex-basis 240px
    
            
@media screen and (min-width: 401px) and (max-width: 600px)
    .reviews
        height 800px
        .reviews__list
            flex-direction column
            .reviews__list__item
                flex-basis 200px 
                max-width 400px
                text-align center
                

                
@media screen and (min-width: 601px) and (max-width: 869px)
    .reviews
        display none
                
@media screen and (min-width: 870px) and (max-width: 1240px)
    .reviews
        .reviews__list
            width 800px
            margin 40px auto 0 auto
            .reviews__list__item
               &:last-child
                   display none
             
                   
                   
                
@media screen and (min-width: 320px) and (max-width: 400px)
    .pricing 
        height 300px
        .pricing__content
            width 100%
            float none
            .pricing__heading
                font-size 1.5em
                padding 40px 10px 10px 10px
                margin 0
            .pricing__text 
                margin 0
                padding 10px
        .pricing__button
            float none
            width 100%
            margin 20px 10px
            a
                padding 10px
                margin 0
                
   
                
                
@media screen and (min-width: 401px) and (max-width: 889px)
    .pricing 
        height 300px
        .pricing__content
            width 100%
            float none
            .pricing__heading
                font-size 2em
                padding 40px 10px 10px 30px
                margin 0
            .pricing__text 
                margin 0
                padding 10px 10px 10px 30px
        .pricing__button
            float none
            width 100%
            margin 20px 30px
            a
                padding 10px
                margin 0
                
@media screen and (min-width: 890px) and (max-width: 1180px)
    .pricing 
        .pricing__content
            .pricing__heading
                font-size 2em 
                margin 50px 0 10px 14%
        .pricing__button
            margin-top 100px
                
@media screen and (min-width: 320px) and (max-width: 600px)
    .footer
        height 600px
        .marker
            display none
        .footer__content
            float none
            margin 0
            padding 50px
            .footer__top
                float none
        .footer__copyright
            img 
                display none
                
@media screen and (min-width: 601px) and (max-width: 1219px)
    .footer
        .marker
            display none
             